body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}

.container {
    flex: 1 !important; 
}

/* navbar style */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{

    text-decoration: underline;
}
.f-info-links ,
.f-info-socials
 { 
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.f-info-socials i {
    margin-right: 2rem;
    font-size: 1.2rem;

}

.f-info {
    text-align: center;
    display: flex;
    height: 5rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* cards */

.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

/* image */

.card-img-top {
    border-radius: 0.5rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
    
}

.listing-link {
    text-decoration: none !important;
}

/* cards overlay */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: #ebebeb;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* show route edit */

.show-img {
    height: 30vh;
    width: 100%;
}

.btns {
    display: flex;
}

.del-btn:hover {
    background-color: #fe424d !important;
}

.btn-a:hover {
    background-color: #1fb729 !important;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}